@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 8px;
    font-size: 120px;
}